name: Security Scan (OWASP ZAP)

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  zap_scan:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Run OWASP ZAP Baseline Scan
      uses: zaproxy/action-baseline@v0.10.0
      with:
        target: "https://bpapp-staging-d5d8a0gcejghg9g8.westeurope-01.azurewebsites.net"
