name: E2E Test Pipeline

on:
  workflow_dispatch:

jobs:
  run-e2e-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x

      - name: Restore ONLY test project dependencies
        run: dotnet restore tests/e2e/tests/e2e/e2e.test.csproj

      - name: Run E2E Test
        run: dotnet test tests/e2e/tests/e2e/e2e.test.csproj --no-build
