name: Performance Test

on:
  workflow_dispatch:

jobs:
  k6-load-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install k6
      run: |
        sudo apt-get update
        sudo apt-get install -y k6

    - name: Run performance test
      run: |
        k6 run perf/loadtest.js
